@font-face {
  font-family: "SuperBloom";
  src: url("www/anote.ttf") format("truetype");
}

body {
  font-family: "SuperBloom", "Roboto", sans-serif;
}

#main-page-title {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#add-task-container {
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow-y: scroll;
}

.task-item {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  line-height: 50px;
  background-color: #f9844a;
}

#fab-add {
  user-select: none;
  -webkit-user-select: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #7367f0;
  color: white;
  border: none;
  font-size: 1.5em; /* Aumentar el tamaño del icono */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Agregar transición */
}

#fab-add:hover {
  background-color: #90be6d; /* Cambiar color de fondo al pasar el cursor */
  transform: scale(1.1); /* Aumentar el tamaño al pasar el cursor */
}

#task-name {
  flex-grow: 1;
  height: 50px;
  padding: 10px;
  border: 2px solid #7367f0;
  border-radius: 25px; /* Agregar esquinas redondas */
  font-size: 1em;
  outline: none; /* Eliminar el contorno al enfocar el input */
  transition: border-color 0.3s ease; /* Transición suave para el color del borde */
  margin-right: 2vw;
}

#task-name:focus {
  border-color: #90be6d; /* Cambiar el color del borde al enfocar el input */
}

.task-item {
  position: relative;
  overflow: hidden;
}

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #dcf3dd;
  z-index: -1;
}

.remove-transition {
  opacity: 0; /* Fade out the task item */
  transform: translateX(100%); /* Slide the task item to the left */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Smooth transition */
}

.remove-transition-uncompleted {
  opacity: 0; /* Fade out the task item */
  transform: translateX(30%); /* Slide the task item to the left */
  transition: opacity 0.8s ease-out, transform 0.3s ease-out; /* Smooth transition */
}
/* style.css */

.task-container-wrapper {
  max-height: calc(100vh - 200px); /* Altura máxima del contenedor de tareas */
  overflow-y: auto; /* Activar desplazamiento vertical cuando se excede la altura máxima */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  width: 80%; /* Ancho del contenedor */
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%; /* Ancho completo del contenedor */
  box-sizing: border-box; /* Incluir padding y border en el ancho */
}

/* Personalizar la barra de desplazamiento */
.simplebar-scrollbar:before {
  background: #7367f0; /* Color de fondo de la barra de desplazamiento */
}
.simplebar-scrollbar .simplebar-scrollbar-thumb {
  background: #90be6d; /* Color del pulgar de la barra de desplazamiento */
}
