@font-face {
  font-family: "SuperBloom";
  src: url("www/anote.ttf") format("truetype");
}

body {
  font-family: "SuperBloom", "Roboto", sans-serif;
}

#main-page-title {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#add-task-container {
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow-y: scroll;
}

.task-item {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  line-height: 50px;
  background-color: #f9844a;
}

#fab-add {
  user-select: none;
  -webkit-user-select: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #7367f0;
  color: white;
  border: none;
  font-size: 1.5em; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

#fab-add:hover {
  background-color: #90be6d; 
  transform: scale(1.1); 
}

#task-name {
  flex-grow: 1;
  height: 50px;
  padding: 10px;
  border: 2px solid #7367f0;
  border-radius: 25px; 
  font-size: 1em;
  outline: none; 
  transition: border-color 0.3s ease; 
  margin-right: 2vw;
}

#task-name:focus {
  border-color: #90be6d; 
}

.task-item {
  position: relative;
  overflow: hidden;
}

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #dcf3dd;
  z-index: -1;
}

.remove-transition {
  opacity: 0; 
  transform: translateX(100%); 
  transition: opacity 0.3s ease-out, transform 0.3s ease-out; 
}

.remove-transition-uncompleted {
  opacity: 0; 
  transform: translateX(30%); 
  transition: opacity 0.8s ease-out, transform 0.3s ease-out; 
}
/* style.css */

.task-container-wrapper {
  max-height: calc(100vh - 200px); 
  overflow-y: auto; 
  margin: 0 auto; 
  width: 80%; 
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%; 
  box-sizing: border-box; 
}

/* Personalizar la barra de desplazamiento */
.simplebar-scrollbar:before {
  background: #7367f0; 
}
.simplebar-scrollbar .simplebar-scrollbar-thumb {
  background: #90be6d; 
}



.dark-mode-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff; 
  border: 2px solid #ffe169; 
  cursor: pointer;
  z-index: 9999; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.dark-mode-button img {
  width: 30px;
  height: 30px;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333; 
  color: #fff; 
}
